<nav class="navbar">
        
    <div class="navbar-header">
        <img src="assets/Images/MIB-logo.jpeg" routerLink='/home' id="mibLogo" style="outline: none;" class="navbar-brand" width="20%" alt="miblogo">
    </div>
    <ul class="nav navbar-nav" style="display: inline">
    <li><button mat-button routerLink='/home'    disableRipple>Home</button></li>
    <li><button mat-button routerLink='/about'   disableRipple>About Us</button></li>
    <li><button mat-button routerLink='/we-do'   disableRipple>We-Do</button></li>
    <li><button mat-button routerLink='/career'  disableRipple>Career</button></li>
    <li><button mat-button routerLink='/contact' disableRipple>Contact Us</button></li>
    </ul>
</nav>

