<div class="total">
    <div class = 'fullContent'>
        <div class="centerContent">
            <h1><b>
                Specializing Digitalization in small to Medium sized business
            </b></h1>
            <p><b>
                Our goal is to provide the best possible Digitalized business solutions to help small scale 
                business efficiency and save money. we also help to transformation of the current business 
                into the latest technology.
            </b></p>
            <button mat-button routerLink='/about' id="explore">Explore Us -></button>
        </div>
        
    </div>
    <div class="footer row">
        <div class="col-sm-6 nopadding">
            <img src="assets/Images/vision.png" width="30%" id="visionImg" alt="">
            <h3 id="visionHeader"><b>OUR VISION</b></h3>
            <p id="visionText">We envision ourselves to be the most preferred IT company impacting the Home businesses, the people and the society.</p>
        </div>
        <div class="col-sm-6 nopadding">
            <img src="assets/Images/Value.png" width="20%" id="valueImg" alt="">
            <h3 id="valueHeader"><b>OUR VALUES</b></h3>
            <p id='valueText'>Our growth is a direct result of helping every small scale business into Digitalized , through our long-term commitment.</p>
        </div>
    </div>
   <app-navbar-bottom></app-navbar-bottom>
</div>
