<div class="centerContent">
    <div class="totalGrid">
        <div class="row firstGrid">
            <div class="col-sm-4">
                <img src="assets/Images/innovative.jpeg" width="90%"   id="innovativeImg" alt="Innovative">
                <h2 class="header"><b>INNOVATIVE<br>ENGINEERING</b></h2>
                <span class="Text"><br><b>Products Creator</b> <br><br>MIB analyzes the market needs/demands/trends, based on that we develop Technology oriented products.<br><br>
                    MIB We research methods and processes of Various business processes, with that we do the engineering to create complete technical systems and selected subsystems.
                    we work in particular on IT tools and technology-driven products.<br><br>MIB work Together with our partners we examine a wide range of different systems, coming from the automotive industry 
                    and their suppliers as well as from special mechanical engineering.  </span>
            </div>
            <div class="col-sm-4">
                <img src="assets/Images/technology.jpg" width="80%" id="technologyImg" alt="Technology">
                <h2 class="header"><b>TECHNOLOGY TRANSFORMATION</b></h2><br><br>
                <span class="Text">The idea is to use technology not just to replicate an existing service in a digital form, but to use technology to transform that service into 
                something significantly better<br><br>We help enterprises keep pace with rapidly evolving business environment, hyper-targeted services, and digital platforms.<br><br>
                We work with the team to understand the requirements for the business model and design/Develop/enhance further into technology transformation.Our focus – help you stay 
                agile, competitive, responsive, and ahead of the curve.</span>
            </div>
            <div class="col-sm-4">
            <img src="assets/Images/digitization.jpg" width="80%"  alt="digitizationImg" alt="Digitization">
            <h2 class="header"><b>DIGITIZATION</b></h2>
            <span class="Text"><br><br><i><b>Digitization</b> is the use of digital technologies to change a business model and provide new revenue and value-producing opportunities; it is the 
                process of moving to a digital business.</i><br><br>We do the process of converting information into a digital format, in which the information is organized into bits. The result is the representation of an object, 
                image, sound, document or signal by generating a series of numbers that describe a discrete set of points or samples</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-2 lineHeight">
                <img src="assets/Images/Developer.jpg" width="90%" alt="developer">
                <h2 class="header"><b>Web/Mobile App<br> Development</b></h2><br>
                <span class="Text">Bringing the business in to the Internet Market and Remote shopping . Leverage our robust and highly salable mobile app development services  to create mobile applications of any complexity and size 
                    across various platforms and industry verticals</span>
            </div>
            <div class="col-sm-4 offset-sm-1 lineHeight">
                <img src="assets/Images/connected_service.jpg" width="90%" alt="Connected Service">
                <h2 class="header"><b>Connected Services</b></h2><br><br>
                <span class="Text">Transform your Business into Smart Connected CONNECTED Services with our Products give New Experience on the Business growth.<br><br>
                    Operational Technology can monitor and control disparate Business with a single platform that leverages connected technologies.</span>
            </div>
        </div>
        <div class="jumbotron banner">
            <h1>Let’s Work Together to make Digitalized Business</h1>
            <button mat-button routerLink='/contact' disableRipple>CONTACT US</button>
        </div>
        <app-navbar-bottom></app-navbar-bottom>
    </div>
</div>