<div class="fullContent">
    <div class="centerContent">
        MakeInBits is established as a team of technical, innovation, and creative experts with a crystal clear vision
        of creating an out of box technology and make a new evaluation in the business transformation into digital
        world.<br><br>
        We put our clients first, offering honest and direct solutions from our experienced team to guarantee results in
        your specific area.
        We would never take on a job that we do not believe in, this ensures we get the absolute best from every
        project.We make your
        passion our passion – and we grow together.<Br><br>
        Our innovative thinking and constant research of emerging trends allow us to create an unrivaled customer
        experience. Our sole objective
        is to create, maintain, and significantly boost our client’s presence within their targeted Business Goals.
    </div>
    <div class="row gridContent">
        <div class="col-sm-4">
            <h2><b>Technology Excellence</b></h2>
            <span>We use advanced capabilities in integrating tools like Google Maps for
                adding the touch of reliability, sophistication, and usability.
            </span>
        </div>
        <div class="col-sm-4">
            <h2><b>Scalable Architecture</b></h2>
            <span>
                We develop systems with Micro App architecture for greater scalability.
            </span>
        </div>
        <div class="col-sm-4">
            <h2><b>Powerful Analytics</b></h2>
            <span>
                We bake in a powerful Analytics platform to track, monitor and manage the system performance.
            </span>
        </div>
        <div class="col-sm-4 gridMargin">
            <h2><b>Rich UI/UX</b></h2>
            <span>We use our rich and vast experience in developing user-centric UX/UI that
                blend usability, experience and impact.
            </span>
        </div>
        <div class="col-sm-4 gridMargin">
            <h2><b>Refine</b></h2>
            <span>
                Define your idea, understand your user’s personal, and complete the wireframes and UI designs,
                which can be used to validate your idea
            </span>
        </div>
        <div class="col-sm-4 gridMargin">
            <h2><b>Propel</b></h2>
            <span>
                Develop a Minimum Viable Product (MVP) to go to market with a soft launch OR a full-fledged product
            </span>
        </div>
        <div class="col-sm-4 offset-sm-4">
            <h2><b>Sustain</b></h2>
            <span>
                Maintain the product by taking care of scalability, performance, technology alignment, and usability,
                continuous improvement and innovation<br>
            </span>
        </div>
    </div>
    
    <app-navbar-bottom></app-navbar-bottom>
</div>